* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --background: hsl(222.2 84% 4.9%);
  --foreground: hsl(210 40% 98%);
}

.light {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222.2 84% 4.9%);
}

body * {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

body {
  background: var(--background);
}

#app {
  width: 100%;
  max-width: 58.8rem;
  margin: 5.6rem auto 0;
  padding: 0 2.4rem;
}

#switch {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  width: 6.4rem;
}

#switch button {
  width: 3.2rem;
  height: 3.2rem;

  border: 1px solid hsl(222.2 47.4% 11.2%);
  border-radius: 50%;

  background-color: hsl(217.2 32.6% 17.5%);

  color: var(--foreground);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

#switch span {
  display: block;
  width: 6.4rem;
  height: 2.4rem;
  background-color: hsl(215 20.2% 65.1%);
  border: 1px solid var(--foreground);
  border-radius: 999.9rem;
}

header {
  padding: 2.4rem 0;
  text-align: center;
}

header img {
  width: 11.2rem;
}

header p {
  font-weight: 600;
  line-height: 2.4rem;

  color: hsl(217.2 91.2% 59.8%);

  margin: 0.8rem 0;
}

#biography {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#biography small {
  font-size: 1.4rem;
  line-height: 2.4rem;

  color: var(--foreground);
}

#links {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;

  padding: 2.4rem 0;
}

#links .link {
  text-decoration: none;
  line-height: 2.4rem;

  font-weight: 500;

  color: var(--foreground);

  display: flex;
  justify-content: center;
  align-items: center;

  background: hsl(217.2 32.6% 17.5%);
  padding: 1.6rem 2.4rem;
  border: 1px solid hsl(222.2 47.4% 11.2%);
  border-radius: 0.8rem;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);

  transition: all 0.3s;
}

#links .link:hover {
  background: hsl(222.2 47.4% 11.2%);
  border: 1.5px solid var(--foreground);
}

footer {
  padding: 2.4rem 0;

  text-align: center;
  line-height: 2.4rem;

  font-size: 1.4rem;
  font-weight: 300;

  color: var(--foreground);
}

footer a {
  font-size: 1.4rem;
  font-weight: 300;

  line-height: 2.4rem;

  color: var(--foreground);
}
