* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body * {
  font-size: 1.6rem;
}

body {
  background: hsl(222.2 84% 4.9%);
}

header {
  padding: 80px 24px 0;
  text-align: center;
}

header img {
  width: 112px;
}

header p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 24px;

  color: hsl(217.2 91.2% 59.8%);

  margin-top: 8px;
  margin-bottom: 8px;
}

#biography {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

#biography small {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 24px;

  color: hsl(215 20.2% 65.1%);
}
