* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  --background: hsl(222.2 84% 4.9%);
  --foreground: hsl(210 40% 98%);
  --primary: hsl(217.2 91.2% 59.8%);
  --primary-foreground: hsl(222.2 47.4% 11.2%);
  --secondary: hsl(217.2 32.6% 17.5%);
  --muted-foreground: hsl(215 20.2% 65.1%);
}

.light {
  --background: hsl(0 0% 100%);
  --foreground: hsl(222.2 84% 4.9%);
  --primary: hsl(221.2 83.2% 53.3%);
  --primary-foreground: hsl(210 40% 96.1%);
  --secondary: hsl(210 40% 98%);
  --muted-foreground: hsl(215.4 16.3% 46.9%);
}

body * {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;

  color: var(--foreground);
}

body {
  background: var(--background);
}

#app {
  width: 100%;
  max-width: 76.8rem;
  margin: auto;
  padding: 5.6rem 2.4rem 0;
}

#switch {
  position: absolute;
  top: 2.4rem;
  right: 2.4rem;
  width: 6.4rem;
}

#switch button {
  width: 3.2rem;
  height: 3.2rem;

  border: 1px solid var(--primary-foreground);
  border-radius: 50%;

  background-color: var(--secondary);

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  animation-duration: 0.3s;
  animation-name: slide-back;
  animation-fill-mode: forwards;
}

#switch button:hover {
  outline: 8px solid rgba(255, 255, 255, 0.3);
}

.light #switch button {
  animation-duration: 0.3s;
  animation-name: slide-in;
  animation-fill-mode: forwards;
}

#switch span {
  display: block;
  width: 6.4rem;
  height: 2.4rem;
  background-color: var(--muted-foreground);
  border: 1px solid var(--foreground);
  border-radius: 999.9rem;
}

header {
  padding: 2.4rem 0;
  text-align: center;
}

header img {
  width: 12.8rem;
}

header h1 {
  font-size: 2.4rem;

  color: var(--primary);

  margin: 1.6rem 0 0.8rem;
}

header p {
  line-height: 2.4rem;
}

#links {
  list-style: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;

  padding: 2.4rem 0;
}

#links .link {
  text-decoration: none;
  line-height: 2.4rem;

  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--secondary);
  padding: 1.6rem 2.4rem;
  border: 1px solid var(--primary-foreground);
  border-radius: 0.8rem;
  backdrop-filter: blur(0.4rem);
  -webkit-backdrop-filter: blur(0.4rem);

  transition: all 0.3s;
}

#links .link:hover {
  background: var(--primary-foreground);
  border: 1.5px solid var(--foreground);
}

footer {
  padding: 2.4rem 0 5.6rem;
}

footer p {
  line-height: 2.4rem;

  font-size: 1.4rem;
  font-weight: 300;

  text-align: center;
}

@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}
